.home-subtitle{
  font-family: var(--font-barlow-condensed);
  font-weight: 300;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 4.72px;
  margin-bottom: 2rem;
}


@media (max-width: 48em) {
  .home-subtitle {
    font-size: 20px;
  }
}

@media (max-width: 24.0625em) {
  .home-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 23.4375em) {
  
}