.header-line {
  margin-left: 5%;
  width: 95%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2515);
  transform: translateX(3rem) scaleX(0);
  transform-origin: left center;
  z-index: 2;

  animation: loadHeaderLine 1.5s;
  animation-fill-mode: forwards;
}

@keyframes loadHeaderLine {
  0% {
    transform: translateX(3rem) scaleX(0);
  }
  100% {
    transform: translateX(3rem) scaleX(1);
  }
}

@media (max-width: 62.5em) {
  .header-line {
    width: 92%;
  }
}

@media (max-width: 48em) {
  .header-line {
    animation: none;
    display: none;
  }
}
